# The following files are kept with the vue component.
# These files are copied to the folder where sequalize expects these files

models/database/recommendation.database.js
models/recommendation.model.js
routes/recommendation.route.js 